<div class="container mt-5 p-3">
    <h4>Login Your Account</h4>
    <%= form_with(url: login_path, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group mb-3">
        <%= f.label :email, class: "email" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
    </div>

    <div class="form-group mb-3">
        <%= f.label :password, class: "password" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true %>
    </div>

    <div class="form-group mt-3 mb-2">
        <%= f.submit data: { turbo: false }, class: "btn btn-primary btn-sm", value: "Login" %>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
        [<%= link_to "Cancel Request and Go Back", articles_path %>]
    </div>
</div>








