<%= render 'shared/errors', obj: @article %>

<div class="container mt-5 p-3">
  <h4><%= title %></h4>
</div>

<div class="container">
    <%= form_with(model: @article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group mb-3">
        <%= f.text_field :title, class: "form-control", placeholder: "insert title", autofocus: true %>
    </div>
    <div class="form-group mb-3">
        <%= f.text_area :body, class: "form-control", placeholder: "insert body", autofocus: true, rows: 7 %>
    </div>

    <div class="form-group mb-3">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox custom") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
          </div>
        </div>
    </div>

    <div class="form-group mb-3">
        <%= f.submit data: { turbo: false },  class: "btn btn-primary btn-sm" %>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
        [<%= link_to "Cancel Request and Go Back", articles_path %>]
    </div>
</div>