<h1>List All Articles</h1>
<p>
<%= link_to "Create New Article", new_article_path %>
</p>
<% if @articles.count >= 1 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each_with_index do |article, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td>
        <%= link_to "Show", article_path(article) %>
        <%= link_to "Edit", edit_article_path(article) %>
        <%= link_to "Delete", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <h3>No articles found.</h3>
<% end %>
