
<div class="container mt-4 p-2">
<h1>List All Articles</h1>
<%= link_to "Create New Article", new_article_path, class: "btn btn-primary btn-sm" %> 
<%= link_to "All users", users_path, class: "btn btn-warning btn-sm" %> 
<% if logged_in? %>
  <%= link_to "Log out", logout_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
<% else %>
  <%= link_to "Login", login_path, class: "btn btn-primary btn-sm" %> 
  <%= link_to "Signup", signup_path, class: "btn btn-info btn-sm" %>
<% end %>
</div>

</p>
<% if @articles.count >= 1 %>
<div class="container">
  <div class="mb-1">
	  <%= will_paginate @articles %>  
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Created date</th>
        <th scope="col">Author</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @articles.each_with_index do |article, index| %>
      <tr>
        <td><%=truncate(article.title, lenght: 200) %></td>
        <td><%= truncate(article.body, lenght: 400) %></td>
        <td><%= time_ago_in_words article.created_at %></td>
        <td><%= article.user ? article.user.first_name : ''%></td>
        <td class="text-center">
          <%= link_to "Show", article_path(article), class: "btn btn-primary btn-sm" %>
          <% if logged_in? and (article.user.id == session["user_id"] or current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-info btn-sm" %>
            <%= link_to "Delete", article_path(article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% else %>
    <h3>No articles found.</h3>
  <% end %>
</div>
