<h1>Show Article by ID</h1>

<h3>Title : </h3>
<p><%= @article.title %></p>

<h3>Description : </h3>
<p><%= @article.body %></p>

<%# <%= current_user.id %>
<%# <%= @article.user.id %> 

<%= link_to "All articles", articles_path %>