<div class="container">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Post count</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.articles.count %></td>
        <td><%= user.role%></td>
        <td>
          <%= link_to "Show", user_path(user), class: "btn btn-primary btn-sm" %>
          <% if logged_in? and user.id == session["user_id"] %>
          <%= link_to "Edit", edit_user_path(user), class: "btn btn-info btn-sm" %>
          <% end %>
          <% if logged_in? and current_user.admin? %>
            <%= link_to "Delete", user_path(user), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class: "btn btn-danger btn-sm" %>
          <% end%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "All Articles", articles_path, class: "btn btn-primary btn-sm" %>
</div>